<template>
    <div class="lg:h-full">
        <v-form title="Korektor" link="/login/mahasiswa" loginAs="Mahasiswa" label1="ID Korektor">
            <!-- <template v-slot:title>Corrector</template>
            <template v-slot:link>Corrector</template> -->
        </v-form>
    </div>
</template>

<script>
    import VForm from '@/components/Form.vue';
    
    export default {
        components: {
            VForm
        },
    };
</script>

<style lang="scss" scoped>

</style>