<template>
    <div class="lg:h-full">
        <v-form title="Mahasiswa" link="/login/korektor" loginAs="Korektor" label1="Nama Pengguna">
            <!-- <template v-slot:title>Corrector</template>
            <template v-slot:link>Corrector</template> -->
        </v-form>
    </div>
</template>

<script>
    import VForm from '@/components/Form.vue';
    
    export default {
        components: {
            VForm
        },
    };
</script>

<style lang="scss" scoped>

</style>