<template>
  <div class="flex relative min-h-screen">
    <div class="w-5/12 bg-neutral-neutral4 z-10 lg:inline-block hidden">
      <v-info />
    </div>
    <div id="infoIphone" class="w-full px-6 grid place-items-center bg-black absolute lg:hidden z-10 bg-opacity-25 inset-0 outline-none focus:outline-none">
      <info-phone />
    </div>
    <div class="w-full lg:w-7/12 bg-white">
      <div class="lg:hidden block flex justify-between p-6">
        <img src="@/assets/LogoUT.png" class="max-content" alt="">
        <div class="text-primary-blue text-right text-xl">
          <div>Aplikasi Exam</div>
          <div class="font-bold-sans">Take Home Exam</div>
        </div>
      </div>
      <router-view />
    </div>
    <footer class="w-screen absolute sm:mb-0  bottom-0">
        <img class="w-full absolute bottom-0" src="@/assets/footer2.svg" alt="">
    </footer>
  </div>
</template>

<script>
import VInfo from "@/components/Info.vue";
// import VForm from "@/components/Form.vue";
import InfoPhone from "@/components/InfoPhone.vue";

export default {
  components: {
    VInfo,
    // VForm,
    InfoPhone
  }
};
</script>

<style lang="scss" scoped>

 
</style>
