<template>
  <div class="lg:grid lg:place-items-center lg:h-full mt-5 sm:mt-0 mx-auto">
    <div class="w-full px-3 md:p-0 md:w-1/2 sm:mx-auto">
      <h2 class="text-2xl text-left mb-6">
        Masuk sebagai <span class="font-bold-sans">{{title}}</span>
      </h2>
      <form class="form --block --theme1" @submit.prevent="sendRequest($event)">
        <div class="form__wrap">
          <label for="user">{{label1}}</label>
          <input v-model="input1" type="text" id="user" />
        </div>
        <div class="form__wrap mt-4">
          <div class="flex justify-between">
            <label for="user">Kata Sandi</label>
            <router-link to="lala" class="text-primary-blue text-sm" for="user"
              >Lupa Kata Sandi?</router-link
            >
          </div>
          <input v-model="input2" type="password" id="user" />
        </div>
        <div class="mt-6">
          <button
            :class="`btn block rounded-md ${isDisabled ? '--disabled' : ''}`"
            @mousemove="toolTip($event)"
            @click="toolTip($event)"
            @mouseout="toolTipHide"
          >
            <span class="pr-2">Masuk</span>
            <img
              class="text-white icon inline-block"
              src="@/assets/icons/arrow-right-solid.svg"
            />
          </button>
        </div>
        <div class="mt-3 sm:mt-8">
          Bukan {{title}}?
          <router-link class="text-primary-blue text-sm underline" :to="link">
            Masuk Sebagai {{loginAs}}
          </router-link>
        </div>
      </form>
    </div>
    <div ref="infoBox" v-if="isDisabled" id="toolTipEl">{{ tooTipMessage }}</div>
    <!-- <script>alert('test')</script> -->
    <!-- <script src="@/assets/javascript/tooltip.js"></script> -->
  </div>
</template>

<script>
// import "@/assets/javascript/tooltip.js";
export default {
  data() {
    return {
      tooTipMessage: "Mohon mengisi Nama Pengguna dan Kata Sandi Anda.",
      input1: "",
      input2: "",
    };
  },
  props:["title","link","loginAs","label1"],
  methods: {
    toolTip(event) {
     if(this.isDisabled){
        document.getElementById("toolTipEl").style.display = "block";
      document.getElementById("toolTipEl").style.top =
        event.pageY - (this.$refs.infoBox.clientHeight + 20) + "px";
      document.getElementById("toolTipEl").style.left = event.pageX + "px";
     }
    },
    toolTipHide() {
      if(document.getElementById("toolTipEl")){
         document.getElementById("toolTipEl").style.display = "none";
      }
     
    },
    sendRequest(event) {
      console.log(event);
    }
  },
  computed: {
    isDisabled() {
      return !(this.input1 && this.input2);
    }
  }
};
</script>

<style lang="scss" scoped>
#toolTipEl {
  @apply p-2 bg-white border border-neutral-neutral2 z-30 shadow-sm rounded hidden;
  position: absolute;
  &::after {
    right: 0px;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
  }
}
</style>
