<template>
    <div class="text-left py-3 w-full bg-white justify-center items-center rounded-lg">
        <div class="text-base px-3 mb-10 text-neutral-neutral1">
            <p>
                Selamat datang di Aplikasi <span class="font-bold-sans">Take Home Exam</span>. Selalu perhatikan jadwal,
                agar tidak tertinggal untuk mengikuti ujian.
            </p>
        </div>

        <div class="flex justify-between px-3">
            <div class="text-sm mb-6">
                <p>
                    Jadwal Mulai<br /><span class="font-bold-sans">02 November 2020<br />08:00 WIB</span>
                </p>
            </div>

            <div class="text-sm mb-6">
                <p>
                    Jadwal Selesai<br /><span class="font-bold-sans">02 November 2020<br />16:00 WIB</span>
                </p>
            </div>
        </div>
        <hr>
        <button @click="ok()" class="px-auto block font-bold-sans mx-auto text-center px-3 pt-3 text-primary-blue text-2xl">
            <h4>OK</h4>
        </button>
    </div>
</template>

<style lang="scss">
    .modal{
        max-height: 270px;
    }
     .fix-modal{
    height: calc(100vh + 1.5rem);
  }

</style>

<script>
export default {
    name: "InfoPhone",
    methods: {
        ok(){
            const T = document.getElementById("infoIphone");
            T.style.display = "none";
        }
    },
}
</script>