<template>
  <div class="text-left h-screen px-12 xl:px-32 pt-12">
    <div class="w-20 h-16 mb-3">
      <img src="@/assets/LogoUT.png" alt="" />
    </div>
    <div class="text-2xl mb-8 text-primary-darkBlue">
      <p>Aplikasi <br /><span class="font-bold-sans">Take Home Exam</span></p>
    </div>

    <div class="mb-10 text-neutral-neutral1">
      <p>
        Selamat datang di Aplikasi <span class="font-bold-sans">Take Home Exam</span>. Selalu perhatikan jadwal,
        agar tidak tertinggal untuk mengikuti ujian.
      </p>
    </div>

    <div class="mb-6">
      <p>
        Jadwal Mulai<br /><span class="font-bold-sans">02 November 2020<br />08:00 WIB</span>
      </p>
    </div>

    <div>
      <p>
        Jadwal Selesai<br /><span class="font-bold-sans">02 November 2020<br />16:00 WIB</span>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Info"
};
</script>

<style lang="scss" scoped></style>
