@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SourceSansProRegular;
    src: url("../fonts/SourceSansProRegular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: SourceSansProBold;
    src: url("../fonts/SourceSansProBold.ttf") format("truetype");
  }

  #app{
      font-family: SourceSansProRegular;
  }

  .font-bold-sans{
    font-family: SourceSansProBold !important;
  }

.btn {
  @apply bg-primary-blue w-full text-white p-2;
  &.--disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.max-content{
  height: max-content;
}

.icon{
    width:12px;
}

.margin-footer-fix{
    margin-top: -10%;
}

.form {
  &.--block {
    label {
      display: block;
    }
    input {
      display: block;
    }
  }
  &__wrap{
      @apply mb-3;
  }
  &.--theme1 {
      label{
          @apply text-left font-bold text-sm;
      }
    input {
      @apply bg-neutral-neutral3 p-2 w-full rounded-md mt-2;
    //   border-radius: 4px;
      outline: none;
      &:focus{
        border: 0.4px solid;
          @apply bg-white border-primary-blue;
         
          box-shadow: 0px 0px 1px 6px rgba(0, 85, 208, 0.1);
      }
    }
  }
}

.tooltip{
  pointer-events: none;
  position: absolute;
  width: 140px;
  padding: 15px 10px;
  border-radius: 4px;
  font-family: 'Nunito';
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
